::-webkit-scrollbar {
  height: 4px; /* height of horizontal scrollbar â† You're missing this */
  width: 10px; /* width of vertical scrollbar */
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(100, 181, 246);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(34, 148, 241);
}

/* #root > div > div > div > div:nth-child(1) > div > div.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.OverlayBase-absolutePosition-4.OverlayBase-paper-5.OverlayBase-halfSize-7.OverlayBase-transition-8.MuiPaper-elevation16 > div > div.LayoutBase-container-305 > div > div.MuiGrid-root.LayoutBase-booleanEditors-321.MuiGrid-container{
  display: none;
} */

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
  display: none;
}


.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiIconButton-colorPrimary{
  display: none;
}